altair 
anyio 
argon2-cffi 
argon2-cffi-bindings 
asttokens 
async-lru 
attrs 
Babel 
beautifulsoup4 
bleach 
blinker 
Bottleneck 
Brotli 
cachetools 
certifi 
cffi 
charset-normalizer 
click 
colorama 
comm 
contourpy 
cycler 
debugpy 
decorator 
defusedxml 
executing 
fastjsonschema 
fonttools 
gitdb 
GitPython 
h11 
httpcore 
httpx 
idna 
ipykernel 
ipython 
jedi 
Jinja2 
json5 
jsonschema 
jsonschema-specifications 
jupyter-events 
jupyter-lsp 
jupyter_client 
jupyter_core 
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab_server 
kiwisolver 
markdown-it-py 
MarkupSafe 
matplotlib==3.9.2
matplotlib-inline 
mdurl 
mistune 
mkl-service==2.4.0
mkl_fft 
mkl_random 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
notebook 
notebook_shim 
numexpr 
numpy 
overrides 
packaging 
pandas 
pandocfilters 
parso 
pillow 
platformdirs 
ply 
prometheus_client 
prompt-toolkit 
protobuf==4.25.3
psutil 
pure-eval 
pyarrow 
pycparser 
pydeck 
Pygments 
pyparsing 
PyQt5==5.15.10
PyQt5-sip 
PySocks 
python-dateutil 
python-json-logger 
pytz 
pywin32==305.1
pywinpty 
PyYAML 
pyzmq 
referencing 
requests 
rfc3339-validator 
rfc3986-validator 
rich 
rpds-py 
Send2Trash 
setuptools==72.1.0
sip 
six 
smmap 
sniffio 
soupsieve 
stack-data 
streamlit
tenacity 
terminado 
tinycss2 
toml 
toolz 
tornado 
traitlets 
typing_extensions 
tzdata 
unicodedata2 
urllib3 
watchdog 
wcwidth 
webencodings 
websocket-client 
wheel==0.44.0
win-inet-pton 